<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="official" value="http://nuget.xiaobao100.cn/nuget/official" />
    <add key="Xiaobao" value="http://nuget.xiaobao100.cn/nuget/xiaobao" />
    <add key="all" value="http://nuget.xiaobao100.cn/nuget/all" />
    <add key="anbgsl1110" value="http://114.215.158.176:51001/api/v2/package" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
</configuration>